.contato {
    width: 30.5rem;
    height: 45.125rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    border-radius: .625rem;
    background-color: var(--principal800);
    color: var(--texto50);
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.input {
    width: 24.375rem;
    height: 2.75rem;
    border-radius: .625rem;
    background-color: var(--principal100);
    color: var(--cinza400);
    font-size: 1.25rem;
    font-family: "Roboto";
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.inputdetalhado {
    width: 24.375rem;
    height: 17.688rem;
    border-radius: .625rem;
    padding: 1rem;
    background-color: var(--principal100);
    color: var(--cinza400);
    font-size: 1.25rem;
    font-family: "Roboto";
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}







