.card {
    width: 29.063rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background: linear-gradient( #00264D, #001225);
    padding: 1rem;
}

.poster {
    width: 26.375rem;
    height: 39rem;
    box-shadow: 0 0.363rem .363rem rgba(0, 0, 0, 0.25);
}

.datacard {
    display: flex;
    flex-direction: column;
    color: var(--texto50);
}

.rating {
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
}

.datacard div:first-of-type {
    width: 26.383rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
}

p {
    margin-bottom: .5rem;
}

.card button {
    width: 12.813rem;
    height: 2.759rem;
    background-color: var(--callToActionSource);
    font-family: 'Poppins';
    font-size: 1.154rem;
    color: var(--texto50);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem;
    cursor: pointer;
}

.card button:hover {
    background-color: var(--callToAction400);
}