  .slider-container {
    position: static;
    margin: auto;
  }
  
  .swiper {
    width: 80.25rem;
    height: 32.5rem;
    margin-top: 3rem;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: url(src/assets/Subtract.svg);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fundo {
    position: relative;
    width: 68.125rem;
    height: 27.375rem;
    display: flex;
    align-items: center;
    background-color: var(--callToAction300);
    
  }

  .textos {
    width: 35.563rem;
    height: 15.938rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
    gap: .5rem;
  }

  .textos h1 {
    text-align: left;
  }

  .fundo img {
    width: 18.75rem;
    height: 18.75rem;
    margin-left: 5.313rem;
  }

  .botoes-swiper {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 1.7rem;
    top: 21.8rem;
  }

  .next {
    width: 5.188rem; 
    height: 5.188rem;
  }

  .next:hover {
    transform: none;
  }
  
  .next img {
    width: 5.188rem;
    height: 5.188rem;
  }
  
  .prev {
    z-index: 2;
    width: 5.188rem; 
    height: 5.188rem;
  }

  .prev:hover {
    transform: none;
  }

  .prev img {
    width: 5.188rem;
    height: 5.188rem;
  }
  
  @media (min-width: 1600px) {

    .botoes-swiper{
      padding: 0px 7.4vw;
    }
    
  }