.buttonconfirm{
    width: 16.424rem;
    height: 6.625rem;
    background-color: var(--confirm400);
    color: var(--cinza50);
    font-family: "Poppins";
    font-size: 2.208rem;
    font-weight: 600;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
}

.buttonconfirm:hover {
    transform: none;
    background-color: #90b1ff;
}

.modal .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}



.content{
    width: 52rem;
    height: 23.188rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    text-align: left;
    position: absolute;
    top: 0vh;
    left: 22vw;
    background-color: var(--confirmSource);
    border-radius: 1rem;
    color: var(--texto50);
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.close {
    position: absolute;
    width: 2.188rem;
    height: 2.188rem;
    margin: 0;
    left: 48rem;
    top: 2rem;
}