.pagina {
    display: flex;
}

.asideassentos {
    width: 22.4rem;
    height: 48.75rem;
    margin-bottom: 6rem;
}

.filme {
    width: 22.4rem;
    height: 14.5rem;
    display: flex;
    gap: 1rem;
    padding: 3rem;
    background-color: #00264D;
}

.imgfilme {
    width: 7.013rem;
    height: 12.5rem;
}

.dadossessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dadossessao h3 {
    color: var(--cinzaBranco);
    font-family: "Roboto";
    font-size: 1.225rem;
    
}

.dadossessao div {
    display: flex;
    gap: 1rem;
}

.tiposessao {
    width: 3.415rem;
    height: 1.531rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--callToActionSource);
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto";
    color: #1E1E1E;
}

.fundoassentos {
    width: 22.4rem;
    height: 34.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza100);
    padding: 2rem;
}

.fundoassentos div {
    display: flex;
    align-items: baseline;
}

.fundoassentos h2 {
    margin: 0;
    font-family: 'Poppins';
    font-size: 1rem;
    margin-left: .3rem;
}

.lugares {
    width: 18rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    overflow-y: auto;
    overflow-x: hidden;
}

.assentos {
    width: 16.875rem;
    display: flex;
    flex-direction: column;
    padding: .5rem 1.3rem;
    background-color: #CCCCCC;
}

.assentos div {
    width: 13.813rem;
    height: .1rem;
    margin-bottom: .2rem;
    background-color: #1E1E1E;
}

.assentos h2 {
    font-weight: 600;
    line-height: 1.5rem;
}

.userInfo {
    width: 13.813rem;
    height: 1.375rem;
    border-radius: 0.125rem 0 0 0.125rem;
    border-left: .4rem solid var(--principalSource);
    background-color: var(--cinza50);
    padding: 0.5rem;
    box-shadow: none;
}

.areaconfirmar{
    width: 7.438rem;
    height: 3rem;
    background-color: var(--callToActionSource);
    color: var(--cinza100);
    border-radius: .5rem;
    margin-top: 3rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.botaoconfirma {
    width: 7.438rem;
    height: 3rem;
    background-color: var(--callToActionSource);
    color: var(--cinza100);
    border-radius: .5rem;
    margin-top: 3rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.botaoconfirma:disabled {
    color: var(--cinza200);
    opacity: 60%;
    cursor: not-allowed;
    transform: none;
}