.page {
    display: flex;
    margin: 2rem;
    gap: 1rem;
}

.intro {
    width: 48.838rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logologin {
    width: 48.838rem;
    height: 17.634rem;
}

.texto1 {
    width: 36.25rem;
    color: var(--cinza50);
}

.form {
    width: 30.5rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background-color: var(--principal800);
    color: var(--cinza50);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

input {
    width: 24.375rem;
    height: 2.75rem;
    background-color: var(--principal100);
    border: none;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    color: var(--cinza400);
    font-family: "Roboto";
    font-size: 1.2rem;
    padding: 1.5rem;
    box-shadow: 0 0.1rem 0.25rem 0rem var(--cinzaPreto);
}

.esquecisenha {
    font-family: "Roboto";
    font-size: 0.75rem;
    color: var(--cinza100);
}

.navlink {
    color: var(--cinza100);
}

.entrar{
    width: 24.375rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    margin: 1rem 0;
    background-color: var(--principal400);
    color: var(--cinza50);
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: "Poppins";
    box-shadow: 0 0.1rem 0.25rem 0rem var(--cinzaPreto);
    cursor: pointer;
}

.entrar:hover {
    background-color: #87abfd;
}

.cadastrar {
    width: 13.75rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    background-color: var(--confirmSource);
    color: var(--cinza10);
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: "Poppins";
    box-shadow: 0 0.1rem 0.25rem 0rem var(--cinzaPreto);
    cursor: pointer;
}

.cadastrar:hover {
    background-color: #26e074;
}

.line {
    width: 24.375rem;
    height: .1rem;
    background-color: var(--principal100);
    margin: 1rem 0;
}