.corporegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.apresentacao {
    width: 59em;
    margin-bottom: 3rem;
    color: var(--cinza50);
    gap: 1rem;
}

.apresentacao h1 {
    text-align: left;
    font-size: 3rem;
}

.apresentacao h2 {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.5rem;
    line-height: 1.758rem;
}

.formulario {
    width: 59rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--principal800);
    color: var(--cinzaBranco);
    border-radius: 0.688rem;
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.formulario input {
    width: 32.5rem;
    height: 2.75rem;
}

.botaoregistrar button {
    margin-top: 2rem;
    width: 9.125rem;
    height: 2.75rem;
    background-color: var(--principal400);
    border: none;
    border-radius: .625rem;
    color: var(--texto50);
    font-family: "Roboto";
    font-size: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.botaoregistrar button:disabled {
    color: var(--cinza200);
    cursor: default;
    transform: none;
}

/* Modal */

.modal .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.content{
    width: 50rem;
    height: 22.188rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    text-align: left;
    position: absolute;
    top: 100vh;
    left: 23vw;
    background-color: var(--complementar2500);
    border-radius: 1rem;
    color: var(--texto50);
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text h1 {
    font-weight: 700;
}
.text h2 {
    margin-bottom: 1rem;
}

.close{
    width: 2.188rem;
    height: 2.188rem;
}